openapi: 3.1.0
info:
  title: PUBLIC-MAP API
  version: "1.4.0"
  description: |
    Public REST API for PUBLIC-MAP — consumable by n8n, Make, Zapier,
    Airtable, custom applications, or any standard HTTP client.

    This is a first-draft specification covering the routes shipped so
    far: read-only audits/reports, clients (read + a whitelisted partial
    update), and creating tasks/interactions (with Idempotency-Key
    support). It is not yet exposed through a public Swagger/Redoc portal
    — see lib/api-v1/SECURITY.md for the security model this spec assumes
    (key format, scope model, error envelope).

    Every response — success or error — carries rate-limit/quota headers
    (`X-RateLimit-*`, `X-Quota-*`, see the RateLimitHeaders/QuotaHeaders
    components). A per-API-key requests-per-minute budget and a per-
    organization requests-per-day quota (driven by the organization's
    subscription plan, defaulting to a limited Free tier with no active
    subscription) are both enforced on every request; exceeding either
    returns 429 with a `Retry-After` header — see the RateLimited
    response component and lib/api-v1/SECURITY.md.
  contact:
    name: PUBLIC-MAP
servers:
  - url: https://app.public-map.com/api/v1
    description: Production (once deployed — not live yet, see the plan document)

security:
  - bearerAuth: []
  - apiKeyHeader: []

paths:
  /ping:
    get:
      operationId: ping
      summary: Verify an API key is valid and see which scopes it carries
      description: |
        Requires no particular scope — any active, non-expired key on an
        active integration can call it. Useful as a first request when
        wiring up a new integration (see the Quick Start guide) and as a
        lightweight liveness check.
      security:
        - bearerAuth: []
        - apiKeyHeader: []
      responses:
        "200":
          description: The key is valid.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
            X-Quota-Limit: { $ref: "#/components/headers/X-Quota-Limit" }
            X-Quota-Remaining: { $ref: "#/components/headers/X-Quota-Remaining" }
            X-Quota-Reset: { $ref: "#/components/headers/X-Quota-Reset" }
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [pong, organizationId, scopes]
                    properties:
                      pong: { type: boolean, enum: [true] }
                      organizationId: { type: string, format: uuid }
                      scopes:
                        type: array
                        items: { type: string }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /audits:
    get:
      operationId: listAudits
      summary: List GBP audits for the authenticated organization
      description: |
        Returns audits belonging to the organization the API key is
        scoped to — never any other organization's, regardless of any
        identifier supplied in the request.
      security:
        - bearerAuth: [audits:read]
        - apiKeyHeader: [audits:read]
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
        - $ref: "#/components/parameters/Q"
      responses:
        "200":
          description: A page of audits.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
            X-Quota-Limit: { $ref: "#/components/headers/X-Quota-Limit" }
            X-Quota-Remaining: { $ref: "#/components/headers/X-Quota-Remaining" }
            X-Quota-Reset: { $ref: "#/components/headers/X-Quota-Reset" }
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Audit" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /audits/{id}:
    get:
      operationId: getAudit
      summary: Get a single audit
      description: |
        Returns 404 with an identical body whether `id` does not exist at
        all or belongs to a different organization — the response never
        reveals which case applies.
      security:
        - bearerAuth: [audits:read]
        - apiKeyHeader: [audits:read]
      parameters:
        - $ref: "#/components/parameters/AuditId"
      responses:
        "200":
          description: The audit.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
            X-Quota-Limit: { $ref: "#/components/headers/X-Quota-Limit" }
            X-Quota-Remaining: { $ref: "#/components/headers/X-Quota-Remaining" }
            X-Quota-Reset: { $ref: "#/components/headers/X-Quota-Reset" }
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/Audit" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /reports:
    get:
      operationId: listReports
      summary: List audit reports for the authenticated organization
      description: |
        Same underlying data and filters as GET /audits, presented as a
        curated report view (score, summary, and an issue-count
        breakdown by priority) rather than the raw audit record.
      security:
        - bearerAuth: [reports:read]
        - apiKeyHeader: [reports:read]
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
        - $ref: "#/components/parameters/Q"
      responses:
        "200":
          description: A page of report summaries.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
            X-Quota-Limit: { $ref: "#/components/headers/X-Quota-Limit" }
            X-Quota-Remaining: { $ref: "#/components/headers/X-Quota-Remaining" }
            X-Quota-Reset: { $ref: "#/components/headers/X-Quota-Reset" }
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/ReportListItem" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /reports/{id}:
    get:
      operationId: getReport
      summary: Get a single audit report, with every issue
      description: |
        `id` is an audit id (there is no separate "report" entity — see
        lib/api-v1/audits.ts). Same identical-404 behavior as GET /audits/{id}.
      security:
        - bearerAuth: [reports:read]
        - apiKeyHeader: [reports:read]
      parameters:
        - $ref: "#/components/parameters/ReportId"
      responses:
        "200":
          description: The report.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
            X-Quota-Limit: { $ref: "#/components/headers/X-Quota-Limit" }
            X-Quota-Remaining: { $ref: "#/components/headers/X-Quota-Remaining" }
            X-Quota-Reset: { $ref: "#/components/headers/X-Quota-Reset" }
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/Report" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /clients:
    get:
      operationId: listClients
      summary: List CRM clients for the authenticated organization
      description: |
        Returns only clients whose `organizationId` matches the
        authenticated organization — a client that hasn't onboarded yet
        (`organizationId` is null) or that is archived is never returned,
        regardless of any identifier supplied in the request.
      security:
        - bearerAuth: [clients:read]
        - apiKeyHeader: [clients:read]
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
        - $ref: "#/components/parameters/Q"
        - name: stage
          in: query
          required: false
          schema: { type: string, enum: [lead, prospect, client, churned] }
          description: Filter by CRM pipeline stage.
      responses:
        "200":
          description: A page of clients.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
            X-Quota-Limit: { $ref: "#/components/headers/X-Quota-Limit" }
            X-Quota-Remaining: { $ref: "#/components/headers/X-Quota-Remaining" }
            X-Quota-Reset: { $ref: "#/components/headers/X-Quota-Reset" }
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Client" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /clients/{id}:
    get:
      operationId: getClient
      summary: Get a single client
      description: |
        Returns 404 with an identical body whether `id` does not exist,
        belongs to a different organization, or is archived.
      security:
        - bearerAuth: [clients:read]
        - apiKeyHeader: [clients:read]
      parameters:
        - $ref: "#/components/parameters/ClientId"
      responses:
        "200":
          description: The client.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
            X-Quota-Limit: { $ref: "#/components/headers/X-Quota-Limit" }
            X-Quota-Remaining: { $ref: "#/components/headers/X-Quota-Remaining" }
            X-Quota-Reset: { $ref: "#/components/headers/X-Quota-Reset" }
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/Client" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
    patch:
      operationId: updateClient
      summary: Update a client's own business profile fields
      description: |
        Only `name`, `contactName`, `email`, `phone`, and `address` can be
        set — see ClientPatchRequest. The request body must contain at
        least one of these fields and no others; any unknown or
        forbidden field (including `id`, `organizationId`, `stage`,
        `source`, `ownerName`, `notes`, `archivedAt`, `createdAt`)
        rejects the ENTIRE request with 400, none of it is silently
        applied or dropped. An empty body is also rejected. Same
        identical-404 behavior as GET for a cross-organization or
        archived id — a failed write never distinguishes "not found"
        from "not yours".
      security:
        - bearerAuth: [clients:update]
        - apiKeyHeader: [clients:update]
      parameters:
        - $ref: "#/components/parameters/ClientId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ClientPatchRequest" }
      responses:
        "200":
          description: The updated client.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
            X-Quota-Limit: { $ref: "#/components/headers/X-Quota-Limit" }
            X-Quota-Remaining: { $ref: "#/components/headers/X-Quota-Remaining" }
            X-Quota-Reset: { $ref: "#/components/headers/X-Quota-Reset" }
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/Client" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /tasks:
    post:
      operationId: createTask
      summary: Create a staff to-do tied to a client
      description: |
        `clientId` must reference a client belonging to the authenticated
        organization (verified with the exact same rule as GET/PATCH
        /clients) — otherwise the request fails with a generic
        VALIDATION_ERROR that never distinguishes "no such client" from
        "not yours". Only TaskCreateRequest's fields are accepted;
        `assignee` (which PUBLIC-MAP staff member owns the task) can
        never be set through this API. Supports `Idempotency-Key" — see
        the IdempotencyKey parameter.
      security:
        - bearerAuth: [tasks:create]
        - apiKeyHeader: [tasks:create]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TaskCreateRequest" }
      responses:
        "201":
          description: The created task (or the original one, if this is a valid Idempotency-Key replay).
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
            X-Quota-Limit: { $ref: "#/components/headers/X-Quota-Limit" }
            X-Quota-Remaining: { $ref: "#/components/headers/X-Quota-Remaining" }
            X-Quota-Reset: { $ref: "#/components/headers/X-Quota-Reset" }
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/Task" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { $ref: "#/components/responses/IdempotencyConflict" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /interactions:
    post:
      operationId: createInteraction
      summary: Log an interaction (call, email, meeting, or note) against a client
      description: |
        Same `clientId` ownership check as POST /tasks. `createdBy` can
        never be set through this API — it's populated server-side from
        the API key and never exposed in the response (see Interaction).
        Supports `Idempotency-Key`.
      security:
        - bearerAuth: [interactions:create]
        - apiKeyHeader: [interactions:create]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/InteractionCreateRequest" }
      responses:
        "201":
          description: The created interaction (or the original one, if this is a valid Idempotency-Key replay).
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
            X-Quota-Limit: { $ref: "#/components/headers/X-Quota-Limit" }
            X-Quota-Remaining: { $ref: "#/components/headers/X-Quota-Remaining" }
            X-Quota-Reset: { $ref: "#/components/headers/X-Quota-Reset" }
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/Interaction" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { $ref: "#/components/responses/IdempotencyConflict" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: "pm_{live|test}_{lookupId}_{secret}"
      description: 'Send as "Authorization: Bearer <api_key>". Preferred over apiKeyHeader.'
    apiKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Fallback when a custom Authorization header isn't practical for the calling platform (e.g. some no-code tools).

  headers:
    X-RateLimit-Limit:
      schema: { type: integer }
      description: The per-API-key requests-per-minute budget.
    X-RateLimit-Remaining:
      schema: { type: integer }
      description: Requests remaining in the current one-minute window for this API key.
    X-RateLimit-Reset:
      schema: { type: integer }
      description: Unix timestamp (seconds) when the current one-minute window resets.
    X-Quota-Limit:
      schema: { type: integer }
      description: The organization's requests-per-day quota (driven by its subscription plan; a limited Free tier applies with no active subscription — see lib/api-v1/SECURITY.md).
    X-Quota-Remaining:
      schema: { type: integer }
      description: Requests remaining in the current day for this organization, shared across all of its API keys.
    X-Quota-Reset:
      schema: { type: integer }
      description: Unix timestamp (seconds) when the current daily quota window resets.
    Retry-After:
      schema: { type: integer }
      description: Seconds to wait before retrying. Present only on 429 responses.

  parameters:
    Limit:
      name: limit
      in: query
      required: false
      schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
      description: Page size.
    Cursor:
      name: cursor
      in: query
      required: false
      schema: { type: string }
      description: Opaque pagination cursor from a previous page's `pagination.nextCursor`. Omit for the first page.
    From:
      name: from
      in: query
      required: false
      schema: { type: string, format: date-time }
      description: Only include records created at or after this ISO 8601 timestamp.
    To:
      name: to
      in: query
      required: false
      schema: { type: string, format: date-time }
      description: Only include records created at or before this ISO 8601 timestamp.
    Q:
      name: q
      in: query
      required: false
      schema: { type: string, maxLength: 200 }
      description: Case-insensitive search — the audit summary for /audits and /reports, or name/contact name/email for /clients.
    AuditId:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }
    ReportId:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }
      description: An audit id.
    ClientId:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      schema: { type: string, maxLength: 200 }
      description: |
        Optional but strongly recommended for write routes. A retry with
        the same key and the same request body returns the original
        resource unchanged (status 201, identical body) instead of
        creating a duplicate. Reusing the same key with a different body
        is rejected with 409 IDEMPOTENCY_KEY_CONFLICT. Scoped per
        integration and per route — the same key string used on two
        different write routes does not collide.

  schemas:
    Location:
      type: object
      required: [id, name, address]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        address: { type: string, nullable: true }

    Audit:
      type: object
      required: [id, score, summary, createdAt, location]
      properties:
        id: { type: string, format: uuid }
        score: { type: integer, minimum: 0, maximum: 100 }
        summary: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }
        location:
          oneOf:
            - { $ref: "#/components/schemas/Location" }
            - type: "null"

    IssueCounts:
      type: object
      required: [low, medium, high]
      properties:
        low: { type: integer, minimum: 0 }
        medium: { type: integer, minimum: 0 }
        high: { type: integer, minimum: 0 }

    ReportListItem:
      allOf:
        - $ref: "#/components/schemas/Audit"
        - type: object
          required: [issueCount, issueCounts]
          properties:
            issueCount: { type: integer, minimum: 0 }
            issueCounts: { $ref: "#/components/schemas/IssueCounts" }

    ReportIssue:
      type: object
      required: [id, title, description, priority, recommendation]
      properties:
        id: { type: string, format: uuid }
        title: { type: string }
        description: { type: string, nullable: true }
        priority: { type: string, enum: [low, medium, high] }
        recommendation: { type: string, nullable: true }

    Report:
      allOf:
        - $ref: "#/components/schemas/Audit"
        - type: object
          required: [issueCounts, issues]
          properties:
            issueCounts: { $ref: "#/components/schemas/IssueCounts" }
            issues:
              type: array
              items: { $ref: "#/components/schemas/ReportIssue" }

    Client:
      type: object
      required: [id, name, contactName, email, phone, address, stage, createdAt]
      description: |
        Only the tenant's own business-profile fields. PUBLIC-MAP-internal
        CRM fields (pipeline ownership, internal notes, lead source) are
        never exposed through this API, whether reading or writing —
        see lib/api-v1/clients.ts.
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        contactName: { type: string, nullable: true }
        email: { type: string, nullable: true }
        phone: { type: string, nullable: true }
        address: { type: string, nullable: true }
        stage:
          type: string
          enum: [lead, prospect, client, churned]
          description: Read-only — not settable via PATCH.
        createdAt: { type: string, format: date-time }

    ClientPatchRequest:
      type: object
      minProperties: 1
      additionalProperties: false
      description: At least one field required; any property not listed here is rejected.
      properties:
        name: { type: string, minLength: 1, description: "Cannot be null or blank — NOT NULL in the schema." }
        contactName: { type: string, nullable: true }
        email: { type: string, nullable: true, description: 'Must contain "@" if not null.' }
        phone: { type: string, nullable: true }
        address: { type: string, nullable: true }

    Task:
      type: object
      required: [id, clientId, title, description, dueDate, status, createdAt]
      description: No `assignee` — see lib/api-v1/tasks.ts's module docstring.
      properties:
        id: { type: string, format: uuid }
        clientId: { type: string, format: uuid }
        title: { type: string }
        description: { type: string, nullable: true }
        dueDate: { type: string, format: date-time, nullable: true }
        status: { type: string, enum: [todo, in_progress, done] }
        createdAt: { type: string, format: date-time }

    TaskCreateRequest:
      type: object
      required: [clientId, title]
      additionalProperties: false
      description: Any property not listed here (including `assignee`, `id`, `organizationId`, `createdAt`) is rejected.
      properties:
        clientId:
          type: string
          format: uuid
          description: Must belong to the authenticated organization.
        title: { type: string, minLength: 1 }
        description: { type: string, nullable: true }
        dueDate: { type: string, format: date-time, nullable: true }
        status: { type: string, enum: [todo, in_progress, done], default: todo }

    Interaction:
      type: object
      required: [id, clientId, type, summary, occurredAt, createdAt]
      description: No `createdBy` — see lib/api-v1/interactions.ts's module docstring.
      properties:
        id: { type: string, format: uuid }
        clientId: { type: string, format: uuid }
        type: { type: string, enum: [call, email, meeting, note] }
        summary: { type: string }
        occurredAt: { type: string, format: date-time }
        createdAt: { type: string, format: date-time }

    InteractionCreateRequest:
      type: object
      required: [clientId, type, summary]
      additionalProperties: false
      description: Any property not listed here (including `createdBy`, `id`, `organizationId`, `createdAt`) is rejected.
      properties:
        clientId:
          type: string
          format: uuid
          description: Must belong to the authenticated organization.
        type: { type: string, enum: [call, email, meeting, note] }
        summary: { type: string, minLength: 1 }
        occurredAt:
          type: string
          format: date-time
          description: Defaults to the current time if omitted. Must not be sent as null.

    Pagination:
      type: object
      required: [limit, nextCursor]
      properties:
        limit: { type: integer }
        nextCursor:
          description: Pass as `cursor` to fetch the next page. `null` means this is the last page.
          oneOf:
            - { type: string }
            - { type: "null" }

    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message, requestId]
          properties:
            code:
              type: string
              description: Stable, machine-checkable code — see lib/api-v1/errors.ts's ApiErrorCode. Safe to switch on; message is for humans and may change.
              enum:
                - MISSING_API_KEY
                - MALFORMED_API_KEY
                - INVALID_API_KEY
                - API_KEY_REVOKED
                - API_KEY_EXPIRED
                - INTEGRATION_INACTIVE
                - INTEGRATION_EXPIRED
                - FORBIDDEN_SCOPE
                - SERVICE_NOT_CONFIGURED
                - VALIDATION_ERROR
                - NOT_FOUND
                - IDEMPOTENCY_KEY_CONFLICT
                - RATE_LIMITED
                - QUOTA_EXCEEDED
                - INTERNAL_ERROR
            message: { type: string }
            requestId: { type: string }

  responses:
    ValidationError:
      description: The request's query/path parameters were invalid.
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
    Unauthorized:
      description: Missing, malformed, invalid, revoked, or expired API key (or its owning integration is inactive/expired).
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
    Forbidden:
      description: The API key does not carry the scope this route requires.
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
    NotFound:
      description: No resource with this id exists for the authenticated organization (identical body whether it doesn't exist at all or belongs to another organization).
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
    IdempotencyConflict:
      description: The `Idempotency-Key` header was already used, on this same route, with a different request body.
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
    RateLimited:
      description: |
        Either the per-API-key requests-per-minute budget (`error.code`
        `RATE_LIMITED`) or the organization's requests-per-day quota
        (`error.code` `QUOTA_EXCEEDED`) was exceeded. Both checks always
        run together, so the response headers reflect the true state of
        both budgets regardless of which one — if either — failed.
      headers:
        X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
        X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
        X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
        X-Quota-Limit: { $ref: "#/components/headers/X-Quota-Limit" }
        X-Quota-Remaining: { $ref: "#/components/headers/X-Quota-Remaining" }
        X-Quota-Reset: { $ref: "#/components/headers/X-Quota-Reset" }
        Retry-After: { $ref: "#/components/headers/Retry-After" }
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
    InternalError:
      description: An unexpected error — no internal detail is included.
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
